<body class="schedules_body">

<%= form_for @del_enroll, url: delete_schedules_path(@del_enroll), method: :delete, html: { class: "form", id: "form_corso" } do |f| %>
  
  <div class = "form-group">
    <label for="select_corso">Seleziona il corso che vuoi rimuovere:</label><br>
    <%= f.select :materia, @schedule, prompt: "Scegli un corso...", :class => "form-control", :id => "select_corso"%>
  </div>

  <%= f.submit "Rimuovi Corso", class: "btn btn-secondary"%>

<%end%> 

<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>

</body>
